@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 100%;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Changa One", cursive;
    /* TODO ajouter font-size:400 */
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-family: "Changa One", cursive;
    font-size: 1.5rem;
    margin-bottom: 0.75em;
}

p {
    line-height: 1.5;
}

a {
    color: #e71d36;
    text-decoration: none;
}

header {
    background-color: black;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

header h1 {
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
    color: #2ec4b6;
}

header h2 {
    font-family: "Changa One", cursive;
    margin-top: -5px;
}

header nav {
    margin-top: 20px;
    padding: 10px 0;
}

header nav ul {
    margin: 0 10px;
    padding: 0;
    display: inline-flex;
    gap: 30px;
}

header nav li {
    padding: 0;
    list-style: none;
    display: inline-block;
}

header nav a {
    color: white;
    font-weight: 800;
    padding: 15px 10px;
}

header nav a:hover {
    color: #2ec4b6;
}

.hide {
    display: none;
}

main {
    margin: 0 5%;
}

footer {
    padding-top: 50px;
    text-align: center;
}

footer nav ul {
    display: inline-flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

footer nav li {
    padding: 0;
    list-style: none;
    display: inline-block;
}

footer img {
    width: 50px;
    filter: grayscale(1);
}

footer img:hover {
    filter: grayscale(0);
    transition: filter 500ms linear;
}
